-- set quoted_identifier on
-- \nocontinue\g

-- ALTER TABLE "Order Details" NOCHECK CONSTRAINT ALL
-- \nocontinue\g

INSERT INTO "Order Details" VALUES(10248,11,14,12,0);
INSERT INTO "Order Details" VALUES(10248,42,9.8,10,0);
INSERT INTO "Order Details" VALUES(10248,72,34.8,5,0);
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g

-- ALTER TABLE "Order Details" CHECK CONSTRAINT ALL
-- \nocontinue\g

-- set quoted_identifier on
-- \nocontinue\g
