-- set quoted_identifier on
-- \nocontinue\g

-- set identity_insert "Employees" on
-- \nocontinue\g

-- ALTER TABLE "Employees" NOCHECK CONSTRAINT ALL
-- \nocontinue\g

\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g
\nocontinue\g

-- set identity_insert "Employees" off
-- \nocontinue\g

-- ALTER TABLE "Employees" CHECK CONSTRAINT ALL
-- \nocontinue\g
