SET SESSION AUTHORIZATION "dbo";
SET DECIMAL '.';
SET DATE_FORMAT 'mdy';
\nocontinue\g

drop procedure "Employee Sales by Country";
drop procedure "Sales by Year";
drop procedure "Ten Most Expensive Products";
drop procedure "CustOrdersDetail";
drop procedure "CustOrdersOrders";
drop procedure "CustOrderHist";
drop procedure "SalesByCategory";
drop view "Category Sales for 1997";
drop view "Sales by Category";
drop view "Sales Totals by Amount";
drop view "Summary of Sales by Quarter";
drop view "Summary of Sales by Year";
drop view "Invoices";
drop view "Order Details Extended";
drop view "Order Subtotals";
drop view "Product Sales for 1997";
drop view "Alphabetical list of products";
drop view "Current Product List";
drop view "Orders Qry";
drop view "Products Above Average Price";
drop view "Products by Category";
drop view "Quarterly Orders";
drop view "Customer and Suppliers by City";
drop table "Order Details";
drop table "Orders";
drop table "Products";
drop table "Categories";
drop table "Customers";
drop table "Shippers";
drop table "Suppliers";
drop table "Employees";
drop table "CustomerCustomerDemo";
drop table "CustomerDemographics";
drop table "Region";
drop table "Territories";
drop table "EmployeeTerritories";

\continue\p\g


CREATE TABLE "Employees" (
	"EmployeeID" integer GENERATED BY DEFAULT AS IDENTITY (START WITH 1 INCREMENT BY 1) NOT NULL ,
	"LastName" nvarchar (20) NOT NULL ,
	"FirstName" nvarchar (10) NOT NULL ,
	"Title" nvarchar (30) NULL ,
	"TitleOfCourtesy" nvarchar (25) NULL ,
	"BirthDate" ansidate NULL ,
	"HireDate" ansidate NULL ,
	"Address" nvarchar (60) NULL ,
	"City" nvarchar (15) NULL ,
	"Region" nvarchar (15) NULL ,
	"PostalCode" nvarchar (10) NULL ,
	"Country" nvarchar (15) NULL ,
	"HomePhone" nvarchar (24) NULL ,
	"Extension" nvarchar (4) NULL ,
	"Photo" long byte NULL ,
	"Notes" long nvarchar NULL ,
	"ReportsTo" integer NULL ,
	"PhotoPath" nvarchar (255) NULL
);

CREATE TABLE "Categories" (
	"CategoryID" integer GENERATED BY DEFAULT AS IDENTITY (START WITH 1 INCREMENT BY 1) NOT NULL ,
	"CategoryName" nvarchar (15) NOT NULL ,
	"Description" long nvarchar NULL ,
	"Picture" long byte NULL
);

CREATE TABLE "Customers" (
	"CustomerID" nchar (5) NOT NULL ,
	"CompanyName" nvarchar (40) NOT NULL ,
	"ContactName" nvarchar (30) NULL ,
	"ContactTitle" nvarchar (30) NULL ,
	"Address" nvarchar (60) NULL ,
	"City" nvarchar (15) NULL ,
	"Region" nvarchar (15) NULL ,
	"PostalCode" nvarchar (10) NULL ,
	"Country" nvarchar (15) NULL ,
	"Phone" nvarchar (24) NULL ,
	"Fax" nvarchar (24) NULL
);

CREATE TABLE "Shippers" (
	"ShipperID" integer GENERATED BY DEFAULT AS IDENTITY (START WITH 1 INCREMENT BY 1) NOT NULL ,
	"CompanyName" nvarchar (40) NOT NULL ,
	"Phone" nvarchar (24) NULL
);

CREATE TABLE "Suppliers" (
	"SupplierID" integer GENERATED BY DEFAULT AS IDENTITY (START WITH 1 INCREMENT BY 1) NOT NULL ,
	"CompanyName" nvarchar (40) NOT NULL ,
	"ContactName" nvarchar (30) NULL ,
	"ContactTitle" nvarchar (30) NULL ,
	"Address" nvarchar (60) NULL ,
	"City" nvarchar (15) NULL ,
	"Region" nvarchar (15) NULL ,
	"PostalCode" nvarchar (10) NULL ,
	"Country" nvarchar (15) NULL ,
	"Phone" nvarchar (24) NULL ,
	"Fax" nvarchar (24) NULL ,
	"HomePage" long nvarchar NULL
);

CREATE TABLE "Orders" (
	"OrderID" integer GENERATED BY DEFAULT AS IDENTITY (START WITH 1 INCREMENT BY 1) NOT NULL ,
	"CustomerID" nchar (5) NULL ,
	"EmployeeID" integer NULL ,
	"OrderDate" ansidate NULL ,
	"RequiredDate" ansidate NULL ,
	"ShippedDate" ansidate NULL ,
	"ShipVia" integer NULL ,
	"Freight" money NULL DEFAULT 0,
	"ShipName" nvarchar (40) NULL ,
	"ShipAddress" nvarchar (60) NULL ,
	"ShipCity" nvarchar (15) NULL ,
	"ShipRegion" nvarchar (15) NULL ,
	"ShipPostalCode" nvarchar (10) NULL ,
	"ShipCountry" nvarchar (15) NULL
);

CREATE TABLE "Products" (
	"ProductID" integer GENERATED BY DEFAULT AS IDENTITY (START WITH 1 INCREMENT BY 1) NOT NULL ,
	"ProductName" nvarchar (40) NOT NULL ,
	"SupplierID" integer NULL ,
	"CategoryID" integer NULL ,
	"QuantityPerUnit" nvarchar (20) NULL ,
	"UnitPrice" money NULL DEFAULT 0,
	"UnitsInStock" smallint NULL DEFAULT 0,
	"UnitsOnOrder" smallint NULL DEFAULT 0,
	"ReorderLevel" smallint NULL DEFAULT 0,
	"Discontinued" tinyint NOT NULL DEFAULT 0
);

CREATE TABLE "Order Details" (
	"OrderID" integer NOT NULL ,
	"ProductID" integer NOT NULL ,
	"UnitPrice" money NOT NULL DEFAULT 0,
	"Quantity" smallint NOT NULL DEFAULT 1,
	"Discount" float4 NOT NULL DEFAULT 0
);

CREATE TABLE "CustomerCustomerDemo" (
    "CustomerID" nchar(5) NOT NULL,
	"CustomerTypeID" nchar(10) NOT NULL
);

CREATE TABLE "CustomerDemographics" (
    "CustomerTypeID" nchar(10) NOT NULL ,
	"CustomerDesc" long nvarchar NULL
);

CREATE TABLE "Region" (
    "RegionID" integer NOT NULL ,
	"RegionDescription" nchar(50) NOT NULL
);

CREATE TABLE "Territories" (
    "TerritoryID" nvarchar(20) NOT NULL ,
	"TerritoryDescription" nchar(50) NOT NULL ,
    "RegionID" integer NOT NULL
);

CREATE TABLE "EmployeeTerritories" (
    "EmployeeID" integer NOT NULL,
	"TerritoryID" nvarchar(20) NOT NULL
);

\nocontinue\g

create view "Customer and Suppliers by City" AS
SELECT "City", "CompanyName", "ContactName", 'Customers' AS "Relationship"
FROM "Customers"
UNION SELECT "City", "CompanyName", "ContactName", 'Suppliers'
FROM "Suppliers"
--ORDER BY City, CompanyName
\nocontinue\g

create view "Alphabetical list of products" AS
SELECT "Products".*, "Categories"."CategoryName"
FROM "Categories" INNER JOIN "Products" ON "Categories"."CategoryID" = "Products"."CategoryID"
WHERE ((("Products"."Discontinued")=0))
\nocontinue\g

create view "Current Product List" AS
SELECT "Product_List"."ProductID", "Product_List"."ProductName"
FROM "Products" AS "Product_List"
WHERE ((("Product_List"."Discontinued")=0))
--ORDER BY "Product_List"."ProductName"
\nocontinue\g

create view "Orders Qry" AS
SELECT "Orders"."OrderID", "Orders"."CustomerID", "Orders"."EmployeeID", "Orders"."OrderDate", "Orders"."RequiredDate",
	"Orders"."ShippedDate", "Orders"."ShipVia", "Orders"."Freight", "Orders"."ShipName", "Orders"."ShipAddress", "Orders"."ShipCity",
	"Orders"."ShipRegion", "Orders"."ShipPostalCode", "Orders"."ShipCountry",
	"Customers"."CompanyName", "Customers"."Address", "Customers"."City", "Customers"."Region", "Customers"."PostalCode", "Customers"."Country"
FROM "Customers" INNER JOIN "Orders" ON "Customers"."CustomerID" = "Orders"."CustomerID"
\nocontinue\g

create view "Products Above Average Price" AS
SELECT "Products"."ProductName", "Products"."UnitPrice"
FROM "Products"
WHERE "Products"."UnitPrice">(SELECT AVG("UnitPrice") From "Products")
--ORDER BY "Products"."UnitPrice" DESC
\nocontinue\g

create view "Products by Category" AS
SELECT "Categories"."CategoryName", "Products"."ProductName", "Products"."QuantityPerUnit", "Products"."UnitsInStock", "Products"."Discontinued"
FROM "Categories" INNER JOIN "Products" ON "Categories"."CategoryID" = "Products"."CategoryID"
WHERE "Products"."Discontinued" <> 1
--ORDER BY "Categories"."CategoryName", "Products"."ProductName"
\nocontinue\g

create view "Quarterly Orders" AS
SELECT DISTINCT "Customers"."CustomerID", "Customers"."CompanyName", "Customers"."City", "Customers"."Country"
FROM "Customers" RIGHT JOIN "Orders" ON "Customers"."CustomerID" = "Orders"."CustomerID"
WHERE "Orders"."OrderDate" BETWEEN date '1997-01-01' And date '1997-12-31'
\nocontinue\g

create view "Invoices" AS
SELECT "Orders"."ShipName", "Orders"."ShipAddress", "Orders"."ShipCity", "Orders"."ShipRegion", "Orders"."ShipPostalCode",
	"Orders"."ShipCountry", "Orders"."CustomerID", "Customers"."CompanyName" AS "CustomerName", "Customers"."Address", "Customers"."City",
	"Customers"."Region", "Customers"."PostalCode", "Customers"."Country",
	("FirstName" + ' ' + "LastName") AS "Salesperson",
	"Orders"."OrderID", "Orders"."OrderDate", "Orders"."RequiredDate", "Orders"."ShippedDate", "Shippers"."CompanyName" As "ShipperName",
	"Order Details"."ProductID", "Products"."ProductName", "Order Details"."UnitPrice", "Order Details"."Quantity",
	"Order Details"."Discount",
	(money("Order Details"."UnitPrice"*"Quantity"*(1-"Discount")/100)*100) AS "ExtendedPrice", "Orders"."Freight"
FROM 	"Shippers" INNER JOIN
		("Products" INNER JOIN
			(
				("Employees" INNER JOIN
					("Customers" INNER JOIN "Orders" ON "Customers"."CustomerID" = "Orders"."CustomerID")
				ON "Employees"."EmployeeID" = "Orders"."EmployeeID")
			INNER JOIN "Order Details" ON "Orders"."OrderID" = "Order Details"."OrderID")
		ON "Products"."ProductID" = "Order Details"."ProductID")
	ON "Shippers"."ShipperID" = "Orders"."ShipVia"
\nocontinue\g

create view "Order Details Extended" AS
SELECT "Order Details"."OrderID", "Order Details"."ProductID", "Products"."ProductName",
	"Order Details"."UnitPrice", "Order Details"."Quantity", "Order Details"."Discount",
	(money("Order Details"."UnitPrice"*"Quantity"*(1-"Discount")/100)*100) AS "ExtendedPrice"
FROM "Products" INNER JOIN "Order Details" ON "Products"."ProductID" = "Order Details"."ProductID"
--ORDER BY "Order Details"."OrderID"
\nocontinue\g

create view "Order Subtotals" AS
SELECT "Order Details"."OrderID", Sum(money("Order Details"."UnitPrice"*"Quantity"*(1-"Discount")/100)*100) AS "Subtotal"
FROM "Order Details"
GROUP BY "Order Details"."OrderID"
\nocontinue\g

create view "Product Sales for 1997" AS
SELECT "Categories"."CategoryName", "Products"."ProductName",
Sum(money("Order Details"."UnitPrice"*"Quantity"*(1-"Discount")/100)*100) AS "ProductSales"
FROM ("Categories" INNER JOIN "Products" ON "Categories"."CategoryID" = "Products"."CategoryID")
	INNER JOIN ("Orders"
		INNER JOIN "Order Details" ON "Orders"."OrderID" = "Order Details"."OrderID")
	ON "Products"."ProductID" = "Order Details"."ProductID"
WHERE ((("Orders"."ShippedDate") Between date '1997-01-01' And date '1997-12-31'))
GROUP BY "Categories"."CategoryName", "Products"."ProductName"
\nocontinue\g

create view "Category Sales for 1997" AS
SELECT "Product Sales for 1997"."CategoryName", Sum("Product Sales for 1997"."ProductSales") AS "CategorySales"
FROM "Product Sales for 1997"
GROUP BY "Product Sales for 1997"."CategoryName"
\nocontinue\g

create view "Sales by Category" AS
SELECT "Categories"."CategoryID", "Categories"."CategoryName", "Products"."ProductName",
	Sum("Order Details Extended"."ExtendedPrice") AS "ProductSales"
FROM 	"Categories" INNER JOIN
		("Products" INNER JOIN
			("Orders" INNER JOIN "Order Details Extended" ON "Orders"."OrderID" = "Order Details Extended"."OrderID")
		ON "Products"."ProductID" = "Order Details Extended"."ProductID")
	ON "Categories"."CategoryID" = "Products"."CategoryID"
WHERE "Orders"."OrderDate" BETWEEN date '1997-01-01' And date '1997-12-31'
GROUP BY "Categories"."CategoryID", "Categories"."CategoryName", "Products"."ProductName"
--ORDER BY Products.ProductName
\nocontinue\g

create view "Sales Totals by Amount" AS
SELECT "Order Subtotals"."Subtotal" AS "SaleAmount", "Orders"."OrderID", "Customers"."CompanyName", "Orders"."ShippedDate"
FROM 	"Customers" INNER JOIN
		("Orders" INNER JOIN "Order Subtotals" ON "Orders"."OrderID" = "Order Subtotals"."OrderID")
	ON "Customers"."CustomerID" = "Orders"."CustomerID"
WHERE ("Order Subtotals"."Subtotal" >2500) AND ("Orders"."ShippedDate" BETWEEN date '1997-01-01' And date '1997-12-31')
\nocontinue\g

create view "Summary of Sales by Quarter" AS
SELECT "Orders"."ShippedDate", "Orders"."OrderID", "Order Subtotals"."Subtotal"
FROM "Orders" INNER JOIN "Order Subtotals" ON "Orders"."OrderID" = "Order Subtotals"."OrderID"
WHERE "Orders"."ShippedDate" IS NOT NULL
--ORDER BY "Orders"."ShippedDate"
\nocontinue\g

create view "Summary of Sales by Year" AS
SELECT "Orders"."ShippedDate", "Orders"."OrderID", "Order Subtotals"."Subtotal"
FROM "Orders" INNER JOIN "Order Subtotals" ON "Orders"."OrderID" = "Order Subtotals"."OrderID"
WHERE "Orders"."ShippedDate" IS NOT NULL
--ORDER BY "Orders"."ShippedDate"
\nocontinue\g

CREATE PROCEDURE "Ten Most Expensive Products"
RESULT ROW result (
    "TenMostExpensiveProducts" nvarchar (40) NOT NULL,
    "UnitPrice" money NULL
)
AS
DECLARE
    ProductName nvarchar (40) NOT NULL;
    UnitPrice   money             NULL;
    err         int           NOT NULL;
BEGIN
    err = 0;
    FOR
        SELECT FIRST 10
               "Products"."ProductName",
               "Products"."UnitPrice"
          INTO :ProductName, :UnitPrice
          FROM "Products"
         ORDER BY "Products"."UnitPrice" DESC
    DO
        IF iierrornumber > 0 THEN
            err = 1;
            endloop;
        ENDIF;
        RETURN ROW(:ProductName, :UnitPrice);
    ENDFOR;
    RETURN :err;
END;

CREATE PROCEDURE "Employee Sales by Country" (
    Beginning_Date ansidate,
    Ending_Date    ansidate
)
RESULT ROW result (
    "Country"     nvarchar (15)     NULL,
    "LastName"    nvarchar (20) NOT NULL,
    "FirstName"   nvarchar (10) NOT NULL,
    "OrderID"     integer       NOT NULL,
    "ShippedDate" ansidate          NULL,
    "SaleAmount"  money             NULL
)
AS
DECLARE
    Country     nvarchar (15)     NULL;
    LastName    nvarchar (20) NOT NULL;
    FirstName   nvarchar (10) NOT NULL;
    OrderID     integer       NOT NULL;
    ShippedDate ansidate          NULL;
    SaleAmount  money             NULL;
    err         int           NOT NULL;
BEGIN
    err = 0;
    FOR
        SELECT "Employees"."Country",
               "Employees"."LastName",
               "Employees"."FirstName",
               "Orders"."OrderID",
               "Orders"."ShippedDate",
               "Order Subtotals"."Subtotal" AS "SaleAmount"
          INTO :Country, :LastName, :FirstName, :OrderID, :ShippedDate, :SaleAmount
          FROM "Employees"
          INNER JOIN "Orders" ON
                "Orders"."EmployeeID" = "Employees"."EmployeeID"
          INNER JOIN "Order Subtotals" ON
                "Order Subtotals"."OrderID" = "Orders"."OrderID"
         WHERE "Orders"."ShippedDate" BETWEEN :Beginning_Date AND :Ending_Date
    DO
        IF iierrornumber > 0 THEN
            err = 1;
            endloop;
        ENDIF;
        RETURN ROW(:Country, :LastName, :FirstName, :OrderID, :ShippedDate, :SaleAmount);
    ENDFOR;
    RETURN :err;
END;

CREATE PROCEDURE "Sales by Year" (
    Beginning_Date ansidate,
    Ending_Date    ansidate
)
RESULT ROW result (
    "ShippedDate" ansidate          NULL,
    "OrderID"     integer       NOT NULL,
    "Subtotal"    money             NULL,
    "Year"        varchar(2)    NOT NULL
)
AS
DECLARE
    ShippedDate ansidate          NULL;
    OrderID     integer       NOT NULL;
    Subtotal    money             NULL;
    Year        varchar(2)    NOT NULL;
    err         int           NOT NULL;
BEGIN
    err = 0;
    FOR
        SELECT "Orders"."ShippedDate", "Orders"."OrderID",
               "Order Subtotals"."Subtotal",
               shift(varchar(year("ShippedDate")), -2) AS Year
        INTO :ShippedDate, :OrderID, :Subtotal, :Year
        FROM "Orders"
        INNER JOIN "Order Subtotals" ON
            "Orders"."OrderID" = "Order Subtotals"."OrderID"
        WHERE "Orders"."ShippedDate" BETWEEN :Beginning_Date AND :Ending_Date
    DO
        IF iierrornumber > 0 THEN
            err = 1;
            endloop;
        ENDIF;
        RETURN ROW(:ShippedDate, :OrderID, :Subtotal, :Year);
    ENDFOR;
    RETURN :err;
END;

\nocontinue\g

\i Northwind-Categories.sql
\i Northwind-Customers.sql
\i Northwind-Employees.sql
\i Northwind-Order-Details.sql
\i Northwind-Orders.sql
\i Northwind-Products.sql
\i Northwind-Shippers.sql
\i Northwind-Suppliers.sql
\i Northwind-Region.sql
\i Northwind-Territories.sql
\i Northwind-EmployeeTerritories.sql

\i Northwind-Constraints-And-Indexes.sql

-- The following adds stored procedures

CREATE PROCEDURE "CustOrdersDetail" (
    OrderID int
)
RESULT ROW result (
    "ProductName"    nvarchar (40) NOT NULL,
    "UnitPrice"      money         NOT NULL,
    "Quantity"       smallint      NOT NULL,
    "Discount"       int           NOT NULL,
    "ExtendedPrice"  money             NULL
)
AS
DECLARE
    ProductName    nvarchar (40) NOT NULL;
    UnitPrice      money         NOT NULL;
    Quantity       smallint      NOT NULL;
    Discount       int           NOT NULL;
    ExtendedPrice  money             NULL;
    err            int           NOT NULL;
BEGIN
    err = 0;
    FOR
        SELECT "ProductName",
               Od."UnitPrice",
               "Quantity",
               int4("Discount" * 100),
               money("Quantity" * (1 - "Discount") * Od."UnitPrice")
        INTO :ProductName, :UnitPrice, :Quantity, :Discount, :ExtendedPrice
        FROM "Products" P, "Order Details" Od
        WHERE Od."ProductID" = P."ProductID" and Od."OrderID" = :OrderID
    DO
        IF iierrornumber > 0 THEN
            err = 1;
            endloop;
        ENDIF;
        RETURN ROW(:ProductName, :UnitPrice, :Quantity, :Discount, :ExtendedPrice);
    ENDFOR;
    RETURN :err;
END;

CREATE PROCEDURE "CustOrdersOrders" (
    CustomerID int
)
RESULT ROW result (
    "OrderID"        int           NOT NULL,
    "OrderDate"      ansidate          NULL,
    "RequiredDate"   ansidate          NULL,
    "ShippedDate"    ansidate          NULL
)
AS
DECLARE
    OrderID        int           NOT NULL;
    OrderDate      ansidate          NULL;
    RequiredDate   ansidate          NULL;
    ShippedDate    ansidate          NULL;
    err            int           NOT NULL;
BEGIN
    err = 0;
    FOR
        SELECT "OrderID",
               "OrderDate",
               "RequiredDate",
               "ShippedDate"
        INTO :OrderID, :OrderDate, :RequiredDate, :ShippedDate
        FROM "Orders"
        WHERE "CustomerID" = :CustomerID
        ORDER BY "OrderID"
    DO
        IF iierrornumber > 0 THEN
            err = 1;
            endloop;
        ENDIF;
        RETURN ROW(:OrderID, :OrderDate, :RequiredDate, :ShippedDate);
    ENDFOR;
    RETURN :err;
END;

CREATE PROCEDURE "CustOrderHist" (
    CustomerID nchar(5)
)
RESULT ROW result (
    "ProductName"  nvarchar (40) NOT NULL,
    "Total"        smallint      NOT NULL
)
AS
DECLARE
    ProductName    nvarchar (40) NOT NULL;
    Total          smallint      NOT NULL;
    err            int           NOT NULL;
BEGIN
    err = 0;
    FOR
        SELECT p."ProductName",
               SUM("Quantity")
        INTO :ProductName, :Total
        FROM "Products" P,
             "Order Details" OD,
             "Orders" O,
             "Customers" C
        WHERE C."CustomerID" = :CustomerID
          AND C."CustomerID" = O."CustomerID"
          AND O."OrderID"    = OD."OrderID"
          AND OD."ProductID" = P."ProductID"
        GROUP BY P."ProductName"
    DO
        IF iierrornumber > 0 THEN
            err = 1;
            endloop;
        ENDIF;
        RETURN ROW(:ProductName, :Total);
    ENDFOR;
    RETURN :err;
END;

CREATE PROCEDURE "SalesByCategory" (
    CategoryName nvarchar(15),
    OrdYear      nvarchar(4)
)
RESULT ROW result (
    "ProductName"    nvarchar (40)  NOT NULL,
    "TotalPurchase"  decimal(14, 2) NOT NULL
)
AS
DECLARE
    ProductName    nvarchar (40)  NOT NULL;
    TotalPurchase  decimal(14, 2) NOT NULL;
    err            int            NOT NULL;
BEGIN
    err = 0;

    IF OrdYear != '1996' AND OrdYear != '1997' AND OrdYear != '1998' THEN
        OrdYear = '1998';
    ENDIF;

    FOR
        SELECT P."ProductName",
               ROUND(SUM(DECIMAL(OD."Quantity" * (1 - OD."Discount") * OD."UnitPrice", 14, 2)), 0)
          INTO :ProductName, :TotalPurchase
          FROM "Order Details" OD,
               "Orders" O,
               "Products" P,
               "Categories" C
         WHERE OD."OrderID"     = O."OrderID"
           AND OD."ProductID"   = P."ProductID"
           AND P."CategoryID"   = C."CategoryID"
           AND C."CategoryName" = :CategoryName
           AND nvarchar(year(O."OrderDate")) = :OrdYear
         GROUP BY P."ProductName"
         ORDER BY P."ProductName"
    DO
        IF iierrornumber > 0 THEN
            err = 1;
            endloop;
        ENDIF;
        RETURN ROW(:ProductName, :TotalPurchase);
    ENDFOR;
    RETURN :err;
END;

\nocontinue\g

------------------------------------------------------------------------------------------------------------------------
-- Grant all on all procedures to public
------------------------------------------------------------------------------------------------------------------------

grant all on procedure "Employee Sales by Country" to public;
grant all on procedure "Sales by Year" to public;
grant all on procedure "Ten Most Expensive Products" to public;
grant all on procedure "CustOrdersDetail" to public;
grant all on procedure "CustOrdersOrders" to public;
grant all on procedure "CustOrderHist" to public;
grant all on procedure "SalesByCategory" to public;

------------------------------------------------------------------------------------------------------------------------
-- Grant all on all views to public
------------------------------------------------------------------------------------------------------------------------

grant all on table "Category Sales for 1997" to public;
grant all on table "Sales by Category" to public;
grant all on table "Sales Totals by Amount" to public;
grant all on table "Summary of Sales by Quarter" to public;
grant all on table "Summary of Sales by Year" to public;
grant all on table "Invoices" to public;
grant all on table "Order Details Extended" to public;
grant all on table "Order Subtotals" to public;
grant all on table "Product Sales for 1997" to public;
grant all on table "Alphabetical list of products" to public;
grant all on table "Current Product List" to public;
grant all on table "Orders Qry" to public;
grant all on table "Products Above Average Price" to public;
grant all on table "Products by Category" to public;
grant all on table "Quarterly Orders" to public;
grant all on table "Customer and Suppliers by City" to public;

------------------------------------------------------------------------------------------------------------------------
-- Grant all on all tables to public
------------------------------------------------------------------------------------------------------------------------

grant all on table "Order Details" to public;
grant all on table "Orders" to public;
grant all on table "Products" to public;
grant all on table "Categories" to public;
grant all on table "Customers" to public;
grant all on table "Shippers" to public;
grant all on table "Suppliers" to public;
grant all on table "Employees" to public;
grant all on table "CustomerCustomerDemo" to public;
grant all on table "CustomerDemographics" to public;
grant all on table "Region" to public;
grant all on table "Territories" to public;
grant all on table "EmployeeTerritories" to public;

\nocontinue\p\g
