-- set quoted_identifier on
-- \nocontinue\g

-- set identity_insert "Categories" on
-- \nocontinue\g

-- ALTER TABLE "Categories" NOCHECK CONSTRAINT ALL
-- \nocontinue\g

\nocontinue\g

-- set identity_insert "Categories" off
-- \nocontinue\g

-- ALTER TABLE "Categories" CHECK CONSTRAINT ALL
-- \nocontinue\g
