-- set quoted_identifier on
-- \nocontinue\p\g

-- ALTER TABLE "Customers" NOCHECK CONSTRAINT ALL
-- \nocontinue\p\g

INSERT INTO "Customers" VALUES('ALFKI','Alfreds Futterkiste','Maria Anders','Sales Representative','Obere Str. 57','Berlin',NULL,'12209','Germany','030-0074321','030-0076545');
INSERT INTO "Customers" VALUES('ANATR','Ana Trujillo Emparedados y helados','Ana Trujillo','Owner','Avda. de la Constitución 2222','México D.F.',NULL,'05021','Mexico','(5) 555-4729','(5) 555-3745');
INSERT INTO "Customers" VALUES('ANTON','Antonio Moreno Taquería','Antonio Moreno','Owner','Mataderos  2312','México D.F.',NULL,'05023','Mexico','(5) 555-3932',NULL);
\nocontinue\p\g
\nocontinue\p\g
\nocontinue\p\g
\nocontinue\p\g
\nocontinue\p\g
\nocontinue\p\g
\nocontinue\p\g
\nocontinue\p\g
\nocontinue\p\g
\nocontinue\p\g

-- ALTER TABLE "Customers" CHECK CONSTRAINT ALL
-- \nocontinue\p\g
