-- set quoted_identifier on
-- \nocontinue\p\g

-- set identity_insert "Products" on
-- \nocontinue\p\g

-- ALTER TABLE "Products" NOCHECK CONSTRAINT ALL
-- \nocontinue\p\g

INSERT INTO "Products" ("ProductID","ProductName","SupplierID","CategoryID","QuantityPerUnit","UnitPrice","UnitsInStock","UnitsOnOrder","ReorderLevel","Discontinued") VALUES(1,'Chai',1,1,'10 boxes x 20 bags',18,39,0,10,0);
INSERT INTO "Products" ("ProductID","ProductName","SupplierID","CategoryID","QuantityPerUnit","UnitPrice","UnitsInStock","UnitsOnOrder","ReorderLevel","Discontinued") VALUES(2,'Chang',1,1,'24 - 12 oz bottles',19,17,40,25,0);
INSERT INTO "Products" ("ProductID","ProductName","SupplierID","CategoryID","QuantityPerUnit","UnitPrice","UnitsInStock","UnitsOnOrder","ReorderLevel","Discontinued") VALUES(3,'Aniseed Syrup',1,2,'12 - 550 ml bottles',10,13,70,25,0);
\nocontinue\p\g
\nocontinue\p\g
\nocontinue\p\g
\nocontinue\p\g
\nocontinue\p\g
\nocontinue\p\g
\nocontinue\p\g
\nocontinue\p\g

-- set identity_insert "Products" off
-- \nocontinue\p\g

-- ALTER TABLE "Products" CHECK CONSTRAINT ALL
-- \nocontinue\p\g
